.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexcolumnalt {
  display: flex;
  flex-direction: column;
}
.flexcolrev {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.flexrowrev {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.center {
  margin: auto;
}
