@import 'base.less';

@media @400 {
    .App {
        .header {
            img {width: 20em;}
        }
        .main {
            .content {
                .homeimgs {width: 25em;
                    img {width: 20em;}
                }
            }
            .gallery {
                width: 23em;

                .carousel-root {
                    .slide {
                        img {
                            width: 21em;
                        }
                    }
                }
            }
        }
    }
}

@media @530 {
    .App {
        .header {
            img {width: 30em;}
        }
        .main {
            .content {
                .homeimgs {width: 32em;
                    img {width: 30em;}
                }
            }
            .gallery {
                width: 30em;

                .carousel-root {
                    .slide {
                        img {
                            width: 28em;
                        }
                    }
                    .thumbs-wrapper {
                        .flexrow();
                        max-width: 430px;

                        .thumbs {
                            .flexrow();

                            .thumb {
                                border-radius: 50%;
                                padding: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @730 {
    .App {
        .header {
            nav {
                a {font-size: 1.2em;}
            }
        }
        .main {border-radius: 15%;
            .heading {
                h1 {font-size: 3em;}
                h3 {font-size: 1.8em;}
                .otherlinks {.flexrow();}
            }
            .content {
                .homeimgs {
                    width: 50em;
                }
            }
            .gallery {
                width: 40em;

                .carousel-root {
                    .slide {
                        img {
                            width: 35em;
                        }
                    }
                    .thumbs-wrapper {
                        max-width: 515px;
                    }
                }
            }
        }
    }
}

@media @850 {
    .App {
        .header {
            nav {.flexrow();
    
                .icon {display: none;}
                #desktop {.flexrow();
                    a {padding: 14px 2.5em;}
                }
            }
        }
        .main {
            .alt {.flexrow();
                justify-content: space-between;
                align-items: flex-start;
                .list {padding: 1em 1.5em;}
    
                .shootlist {padding: 1em 1.5em;}
    
                .homeimgs {width: 17em;
                    img {width: 12em;}
                }
            }
            .gallery {
                .carousel-root {
                    .thumbs-wrapper {
                        max-width: 600px;
                    }
                }
            }
        }
    }
}

@media @1000 {
    .App {
        .header {
            img {width: auto;}
            nav {
                #desktop {
                    a {padding: 14px 3.5em;}
                }
            }
        }
        .main {
            .alt {
                .list {padding: 1em 2.5em;}
    
                .homeimgs {width: 22em;
                    img {width: 18em;}    
                }
            }
            .gallery {
                width: 45em;

                .carousel-root {
                    .slide {
                        img {
                            width: 38em;
                        }
                    }
                    .thumbs-wrapper {
                        .flexrow();
                        max-width: 815px;

                        .thumbs {
                            .flexrow();

                            .thumb {
                                border-radius: 50%;
                                padding: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @1330 {
    .App {
        .header {
            nav {
                a {padding: 14px 35px;}
            }
        }
    }
}
